@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap");
:root {
  --primary-color: #007af3;
  --secondary-color: #ffdd00;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
  text-align: center;
}

.navbar {
  background: white;
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.top-row .subhead {
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  letter-spacing: 0.3em;
  font-size: 1.1em;
}
.top-row h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.top-row .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.7em;
}

.hero {
  padding: 0;
  padding-bottom: 1em;
  text-align: center;
  background: var(--secondary-color);
}
.hero .container .top-row {
  position: relative;
  text-align: center;
  color: var(--primary-color);
}
.hero .container .top-row img {
  width: 100%;
  min-height: 350px;
}
.hero .container .top-row div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}
.hero .bottom-row {
  background: var(--secondary-color);
  color: white;
}
.hero .bottom-row h2 {
  font-size: 2em;
}
.hero .bottom-row img {
  width: 100%;
  max-width: 10em;
}
.hero .bottom-row .activities-img-container {
  padding: 1em;
}
.hero .bottom-row .activities-img-container img {
  max-width: 130px;
}
.hero .bottom-row p {
  font-size: 1.1em;
  font-weight: 600;
}

section.teachers-section {
  border-bottom: 2px solid var(--primary-color);
}
section.teachers-section h2 {
  font-size: 2em;
}
section.teachers-section p {
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  letter-spacing: 0.3em;
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px 0;
  grid-gap: 20px;
}
section.teachers-section p:before, section.teachers-section p:after {
  content: " ";
  display: block;
  border-bottom: 3px solid var(--primary-color);
}
section.teachers-section .container {
  display: flex;
  justify-content: center;
}
section.teachers-section ul {
  margin-top: 3em;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
section.teachers-section ul li {
  background: var(--primary-color);
  text-align: center;
  padding: 2em 1em;
  width: auto;
  max-width: 20em;
  margin: 3em 2em;
  border-radius: 1em;
}
section.teachers-section ul li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  margin-top: -4.5em;
}

section.activities h2 {
  font-size: 2em;
  margin-bottom: 2em;
}
section.activities p {
  display: none;
}
section.activities .activities-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
section.activities .activities-cards-container .activity-card {
  border: 1px solid grey;
  border-radius: 15px;
  margin: 1em;
  max-width: 17em;
}
section.activities .activities-cards-container .activity-card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
section.activities .activities-cards-container .activity-card:hover {
  padding: 1em;
}
section.activities .activities-cards-container .activity-card:hover img {
  display: none;
}
section.activities .activities-cards-container .activity-card:hover p {
  display: block;
}/*# sourceMappingURL=main.css.map */